*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(31, 31, 31);

}

/*barra navegacao e texto principal*/

.navbar{
    background-color: rgb(201, 117, 60);
    width: 10rem;
    height: 100vh;
    border:;
}

.logo{
    width: 1px;
    height: 1px;
}

.fotologo{
    width: 70px;
    height: 70px;
    margin-top: 5rem;
    margin-left: 32px;
}


.perfil{
    font-family: 'Poppins' , sans-serif;
    background-color:;
    color: aliceblue;
    padding-left: 25px;
    padding-top: 10rem;
}

#visitante{
    margin-left: 10px;
}

.nav {
    margin-left: 20px;
    margin-top: 5rem;
}

.nav a{
    font-family: 'Poppins' , sans-serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: ;
    transition: 0.4s;
}

.nav a:hover{
    color: rgb(180, 180, 180);
}

.titulo p{
    font-family: 'Onest' , sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    margin-left: ;
    margin-top: ;
}

.titulo{
    width: 30rem;
    height: 15rem;
    margin-left: 20rem;
    margin-top: -12rem;
}

/*pastel1*/

.pizza1 img{
    width: 160px;
    height: 220px;
    margin-left: ;
    margin-top: ;
}

.pizza1{
    margin-left: 25rem;
    margin-top: -45rem;
    width: 10rem;
    height: 20rem;
    padding-top:;

}

.bt1{
    font-family: 'Onest', sans-serif;
    border-radius: 2px solid;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    margin-left: 140px;
    margin-top: -49rem;
    margin-bottom: ;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.geral{
    margin-top: -18px;
}

.nomepizza1{
    font-family: 'Onest', sans-serif;
    width: 5rem;
    color: aliceblue;
    margin-left: 25rem;
    margin-top: -6rem;
    font-weight: 400;
    padding-top: 3px;
}